@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: iran;
    src: url(../font/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: iran2;
    src: url(../font/Oswald-Regular.ttf);
  }